@import "tailwindcss";

a, button {
  color: #0070f3;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:disabled {
  cursor: initial;
}
